*{
    font-family: 'Gadugi';
    font-size: 1em;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 520px) {
    header nav ul li{
        width: 100%;
    }
}

a{
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

body{
    background-color: #14bc9c;
}

body::-webkit-scrollbar {
    width: 0.7em;
    height: 0.7em;
    background: #14bc9c; 
}

body::-webkit-scrollbar-thumb {
    background: #2f6ad8;
    border-radius: 10px;
    border-right: solid #14bc9c 1px;
}

.button-login{
    display: flex;
    justify-content: flex-end;
}

.button-login button{
    background: #005b82;
    border: solid #ffffff 2px;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 0.4em;
    margin-right: 0.4em;  
    padding: 1em 2em; 
}

.button-login button:hover{
    background: #ffffff;
    color: #005b82;
    border: solid #005b82 2px;
}

.dashboard-list-rides-menu-1{
    display: flex;
    justify-content: center;
}

.dashboard-list-rides-menu-2{
    margin: 0.8em 0px;
    width: 50%;
    justify-content: flex-start;
    border: solid #000000 1px;
    border-radius: 10px;
}

.dashboard-list-rides-menu-2 h4{
    margin: 0.4em 0.8em;
}

.dashboard-list-rides-menu-2 table{
    width: 96%;
    margin: 0.8em 0.6em;
    border: solid #09edc1 2px;
    border-collapse: collapse;
    margin-bottom: 4em;
}

.dashboard-list-rides-menu-2 table tr{
    border: solid #09edc1 2px;
}

.dashboard-list-rides-menu-2 table tr th{
    background-color: #005b82;
    color: #fbc28d;
}

.dashboard-list-rides-menu-2 table tr td{
    color:#ffffff;
    text-align: center;
    border: solid #09edc1 2px;
}

.dashboard-menu{
    display: flex;
    justify-content: center;
}

.dashboard-menu ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin: 1em 2em;
}

.dashboard-menu ul li{
    display: inline-block;
    border: solid #000000 1px;
}

.dashboard-menu ul li:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dashboard-menu ul li:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dashboard-menu ul li:first-child a{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dashboard-menu ul li:last-child a{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dashboard-menu ul li a{
    display: block;
    padding: 1em 3em;
}

.dashboard-menu ul li a:hover{
    color: #000000;
    background-color: #ffffff; 
}

.dasboard-submenu-father{
    display: flex;
    justify-content: center;
}

.dashboard-submenu{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.dashboard-submenu-2{
    display: flex;
    padding: 0em 0.2em; 
    align-items: center;
}

.dashboard-submenu-2 div button{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffffff;
    border: solid #000000 1px;
}

.dashboard-submenu-2 div button img{
    width: 100%;
    height: 100%;
}

.dashboard-submenu-3{
    display: flex;
    justify-content: center;
}

.dashboard-submenu-3 div{
    width: 50%;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 2em;
}

header nav {
    background-color: #43a047;
}

header nav ul li { 
    list-style: none;
    display: inline-block;
}

header nav ul li a {
    color: #ffffff;
    display: block;
    padding: 1.8em;
}

header nav ul li a:hover{
    background-color: #000000;
    transition: 0.6s;
}

.horizontal-line{
    width: 100%;
    margin: 1em 0.2em;
    padding: 1px 0px;
    border-top: solid #138f4b 2px;
    border-bottom: solid #138f4b 2px;
    border-radius: 10px;
}

.log-button-login{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 1em;
    width: 80%;
    height: 40px;
}

.log-button-login button{
    width: 20%;
    height: 70%;
    border-radius: 10px;
    border: solid #ffffff 1px;
    background-color: #fc524e;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

.log-button-login button:hover{
    background-color: #ffffff;
    border: solid #fc524e 1.5px;
    color: #fc524e;
}

.logo{
    display: flex;
    justify-content: center;
    height: 100px;
    margin: 0% 10%;
}

.logo-login{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 12em;
}

.logo-settings{
    display: flex;
    justify-content: center;
    margin: 0.4em 0px;
}

.logo-sign-up{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 7em;
}

.logo-dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;
}

.login-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0em 20%;
    border: solid #09edc1 2px;
    border-radius: 10px;
    min-height: 240px;
}

.login-box form{ 
    margin: 2em 1em;
    width: 80%;
    justify-content: center;
}

.login-box form input{
    display: flex;
    border: none;
    border-radius: 10px;
    margin-top: 2.4em;
    margin-bottom: 2.4em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.6em; 
    width: 95%;
    background-color: #005b82;
    color: #ffffff;
}

.login-box form input::placeholder{
    color: #ffffff;
}

.results-ride-1{
    margin: 0.5em 10em;
}

.results-ride-1 table{
    width: 100%;
    padding: 1em;
    border: solid #09edc1 2px;
    border-collapse: collapse;
}

.results-ride-1 table tr{
    border: solid #09edc1 2px;
}

.results-ride-1 table tr th{
    background-color: #005b82;
    color: #fbc28d; 
}

.results-ride-1 table tr td{
    text-align: center;
    border: solid #09edc1 2px;
}

.rides-add-date-box{
    display: flex;
    border: solid #d3c54d 2.4px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.rides-add-hour{
    margin: 1em 0px;
    width: 45%;
    display: inline-block;
}
.rides-add-hour form {
    margin: 3em 0em;
    margin-left: 3%; 
    width: 100%;
}

.rides-add-hour form input {
    border: none;
    border-radius: 10px;
    margin: 0.8em 0px;
    padding: 0.1em 0.6em;
    width: 80%;
}

.rides-add-hour-2{
    display: inline-block;
    width: 45%;
}

.rides-add-hour-2 form {
    width: 100%;
    margin: 1em 10%;
    align-content: center;
    border-left: solid #d3c54d 2px;
}

.rides-add-hour-2 form h4{
    color: #ffffff;
    text-align: center;
    margin: 1em 0px;
}

.rides-add-hour-2 form input{
    display: inline-block;
    border: none;
    margin: 0.6em 1.2em;
    margin-left: 5em;
    cursor: pointer;
}

.rides-add-hour-2 form label{
    display: inline-block;
}

.rides-add-submenu-1{
    display: flex;
    justify-content: center;
}

.rides-add-submenu-1>div, .rides-add-submenu-1>div h3{
    width: 50%;
    color: #ffffff;
    font-size: 1.2em;
}

.rides-add-submenu-2{
    display: flex;
    justify-content: center;
}

.rides-add-submenu-2>div{
    width: 50%;
}

.rides-add-submenu-2>div form{
    margin: 0.6em 0px;
    border: solid #d3c54d 2.4px;
    border-radius: 10px;
    padding: 1em 2em;
}

.rides-add-submenu-2>div form input{
    display: block;
    margin: 1.2em 0px;
    width: 90%;
    padding: 0.1em 0.6em;
    border-radius: 10px;
    border: none;
    background-color: #5ee7dc;
    color: #1a17b6;
    font-weight: bold;
}

.rides-add-submenu-2>div form input::placeholder{
    font-weight: normal;
    color: #928181;
}

.rides-add-submenu-3{
    display: flex;
    justify-content: center;
}

.rides-add-submenu-3>div{
    width: 50%;
}

.rides-add-submenu-3>div h3{
    color: #ffffff;
    font-weight: normal;
    font-size: 1.4em;
    margin: 0.6em 0px;
}

.rides-add-submenu-4{
    display: flex;
    justify-content: center;
}

.rides-add-submenu-4 > div{
    width: 50%;
}

.rides-add-submenu-5{
    display: flex;
    justify-content: center;
}

.rides-add-submenu-5-1{
    margin: 1em 0px;
    margin-bottom: 10em;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.rides-add-submenu-5-1 button{
    padding: 0.4em 4em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.rides-add-submenu-5-1 #cancel{
    background-color: #e2201d;
    color: #ffffff;
    border: solid #ffffff 2px;
}

.rides-add-submenu-5-1 #cancel:hover{
    background-color: #ffffff;
    color: #e2201d;
    border: solid #e2201d 2px;
}

.rides-add-submenu-5-1 #save{
    background-color: #129919;
    color: #ffffff;
    border: solid #ffffff 2px;
    padding: 0px 8em;
}

.rides-add-submenu-5-1 #save:hover{
    background-color: #ffffff;
    color: #129919;
    border: solid #129919 2px;
}

.rides-container-1{
    display: flex;
    justify-content: center;
}

.rides-submenu-1{
    width: 50%;
    margin: 3em 0.8em;
}

.rides-submenu-1 h2{
    margin-bottom: 3em;
}

.rides-submenu-1-1{
    display: flex;
    justify-content: space-around;
}

.rides-submenu-1 div button{
    padding: 0.8em 6em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.rides-submenu-1 div #add{
    background-color: #129919;
    color: #ffffff;
}

.rides-submenu-1 div #add:hover{
    background-color: #ffffff;
    color: #129919;
    border: solid #129919 1.6px; 
}

.rides-submenu-1 div #edit{
    background-color: #2f6ad8;
    color: #ffffff; 
}

.rides-submenu-1 div #edit:hover{
    background-color: #ffffff;
    color: #2f6ad8;
    border: solid #2f6ad8 1.6px;
}

.rides-submenu-1 h2{
    font-size: 1.3em;
    color: #ffffff;
}

.search-ride-1{
    margin: 0.5em 10em;
}

.search-ride-2 form{
    display: flex;
    justify-content: space-around;
    margin: 0.5em 1em;
    padding: 16px 32px;
    border: solid #09edc1 2px;
    border-radius: 10px;
}

.search-ride-2 form button{
    width: 25%;
    border: solid #005b82 1px;
    border-radius: 6px;
    background: #09edc1;
    color: #005b82;
    padding: 6px 4px;
}

.search-ride-2 form button:hover{
    cursor: pointer;
    background: #005b82;
    color: #ffffff;
    border-color: #ffffff;
}

.search-ride-2 form select{
    width: 25%;
    border: solid #fc524e 1px;
    border-radius: 6px;
    background: #0d9da8;
    color: #fbc28d;
}

.search-ride-2 form select:hover{
    border: solid #fbc28d 2px;
    color: #ffffff;
    background: #fc524e;
}

.settings-main-1{
    display: flex;
    justify-content: center;
}

.settings-main-2{
    width: 50%;
    display: flex;
    justify-content: center;
    border: solid #000000 1px;
    border-radius: 10px;
    margin: 0.4em 0.6em;
    padding: 0.4em;
}

.settings-main-2 form{
    width: 90%;
    margin: 1em;
}

.settings-main-2 form input{
    display: block;
    width: 94%;
    margin: 1.4em 0.4em;
    padding: 0.26em 0.4em;
    border: none;
    background-color: #1e4eeb;
    color: #ffffff;
    border-radius: 10px;
}

.settings-main-2 form input::placeholder{
    color: #b6b0b0;
}

.settings-main-2-1{
    display: flex;
    justify-content: space-between;
    margin-left: 0.4em;
    margin-right: 1em;
}

.settings-main-2-1 #cancel{
    background: none;
    border: none;
    cursor: pointer;
    background-color: #e2201d;
    color: #ffffff;
    border-radius: 10px;
    padding: 0.4em 3.6em;
}

.settings-main-2-1 #cancel:hover{
    background-color: #ffffff;
    color: #e2201d;
    font-weight: bold;
    border: solid #e2201d 1.2px;
}

.settings-main-2-1 #save{
    background: none;
    background-color: #129919;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    padding: 0.4em 6em;
}

.settings-main-2-1 #save:hover{
    background-color: #ffffff;
    color: #129919;
    font-weight: bold;
    border: solid #129919 1.2px;
}

.sign-up-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0em 20%;
    border: solid #09edc1 2px;
    border-radius: 10px;
    min-height: 240px;
}

.sign-up-box form{
    margin: 2em 1em;
    width: 80%;
    justify-content: center;
}

.sign-up-box form input{
    display: flex;
    border: none;
    border-radius: 10px;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.6em; 
    width: 95%;
    background-color: #005b82;
    color: #ffffff;
}

.sign-up-box form input::placeholder{
    color: #ffffff;
}

.sign-up-box-login{
    display: flex;
    justify-content: center; 
}

.sign-up-button-box{
    display: flex;
    justify-content: center;
    margin: 2em 0em;
}

.sign-up-button-box button{
    padding: 1em 4em;
    background-color: #fc524e;
    color: #ffffff;
    border: solid #ffffff 1.2px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.sign-up-button-box button:hover{
    background-color: #ffffff;
    color: #fc524e;
    border: solid #fc524e 2px;
}

.tico-rides-main{
    background-color: #2f8433;
    color: #ffffff;
    border-right: solid #1c667c 3px;
}

.tico-rides-main :hover{
    background-color: #1c667c;
    color: #ffffff;
    font-weight: bold;
    transition: 0s;
}